*.iml
.classpath*
.idea*
.idea
.settings
Data/*
target/*
*.DS_Store
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
target/classes/*
target/classes/NERAnnotation.class
target/classes/RunModel.class
target/classes/cpww/CPWW$1.class
target/classes/cpww/CPWW.class
target/classes/cpww/MetaPattern.class
target/classes/cpww/PatternInstance.class
target/classes/cpww/SentenceProcessor.class
target/classes/cpww/SubSentWords.class
OriginalData/*
*.project
CPWW.jar
src/META-INF/
src/main/java/META-INF/